*{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
}
.wraper-row1 {
    background: #302e2e;
    color: white;
}header {
    width: 800px;
    margin: auto;
    overflow: auto;
}div#logo {
    width: 300px;
    float: left;
    margin-top: 20px;
}
#logo h1 {
    padding: 0;
    margin: 0;
    font-size: 21px;
}
#logo p {
    margin: 0;
    font-size: 13px;
}
nav {
    width: 450px;
    float: right;
    background: black;
    margin: 25px 0px;
    position: sticky;
    top:0;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
div#imageSection {
    width: 800px;
    margin: auto;
}
#imageSection img {
    width: 800px;
}
div#smallImageSec {
    margin: auto;
    width: 800px;
    overflow: auto;
}
.child {
    width: 262px;
    float: left;
}
figure {
    width: 260px;
    margin-left: 0;
}
figure img {
    border: 1px solid gray;
    padding: 4px;
}
div#midSection {
    width: 800px;
    margin: 0 auto;
    position: sticky;
    top:0;
}
div#contantSec {
    width: 390px;
    float: left;
}
div#contantImg {
    width: 390px;
    float: right;
    height: 250px;
}
div#contantSec {
    width: 390px;
    float: left;
    height: 250px;
}
#contantImg img {
    height: 170px;
}
div#sectionParent {
    background: gray;
    overflow: hidden;
    width: 100%;
}
div#linkSection {
    margin: 0 auto;
    width: 800px;
}
section {
    width: 190px;
    float: left;
}
section ul {
    padding: 0;
    list-style-type: none;
}
section ul li {
    line-height: 1.6;
    border-bottom: 1px solid;
    margin-right: 12px;
}
section ul li a {
    text-decoration: none;
    color: orange;
}
div#footerScetion {
    background: black;
    color: white;
    height: 50px;
}
footer {
    margin: auto;
    width: 800px;
}
p#rightPara {
    float: right;
}
p#leftPara {
    float: left;
}

